
VITE_SUPABASE_URL=https://tijfqgswytvsjsbevquu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qxZOWEYNlCezwz-t0e3ffg__-Re1oJt
VITE_VAPID_PUBLIC_KEY=BNkk-OSQz2ATOipBVqSpnaYJi9NCpGu7NdNOkzu_YwowR238nMff7JxoDVWM_rtjkGK3VZcoDbPX3YbEbd9pmqQ
